@import "imports/test_import";
@import "test_include";

body {
    box-shadow: 0px 0px 0px rgba(0,0,0,.3);
    font-size: ($var1 + 20px);
}

p {
    font-size: ($var1 + 30px);   
}

.content {
    content: hello();
}
